<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
        <add key="ClassIsland" value="https://www.myget.org/F/classisland/api/v3/index.json" protocolVersion="3"/>
        <!-- Jint 5 目前只有预览版，发在这个 feed 上 -->
        <add key="Jint-preview" value="https://f.feedz.io/sebastienros/jint/nuget/index.json" protocolVersion="3"/>
        <add key="LocalPackages" value="C:\LocalPackages"/>
    </packageSources>
</configuration>