@import 'tailwindcss';

html,
body,
#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.blocklyScrollbarVertical.blocklyFlyoutScrollbar {
    display: none !important;
}

@font-face {
    font-family: 'Fluent System Icons';
    src: url('../assets/fonts/FluentSystemIcons.ttf');
}
