@import 'tailwindcss';

html,
body,
#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Fluent System Icons';
    src: url('../assets/fonts/FluentSystemIcons.ttf');
}

dialog.blocklyDialog {
    margin: auto;
    padding: 1em;
}

.blocklyDialogButtonRow button {
    border: var(--color-neutral-600) solid 1px;
    border-radius: 4px;
    padding-block: 4px;
    padding-inline: 8px;
    background: var(--color-neutral-300);
    transition: background 0.15s;
}

.blocklyDialogButtonRow button:hover {
    background: var(--color-neutral-400);
}
